---

import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedIn from '../components/icons/LinkedIn.astro';
import Socials from '../components/Socials.astro';
import Github from '../components/icons/Github.astro';
import Mail from '../components/icons/Mail.astro';
import Experience from '../components/Experience.astro';
import ContainerSection from '../components/ContainerSection.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/projects.astro';
import Aboutme from '../components/Aboutme.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Porfolio de Diego Bances - Desarollador y Programador Web" 
description="Conoce más sobre Diego Bances, Desarrollador Web Full Stack de Guatemala. Especializado en crear aplicaciones únicas y personalizadas para cada cliente">
	<main class="px-4">
		<ContainerSection class=" py-44 pb-32">
			<img class="rounded-full size-12 mb-4" src="/diego_bances.webp" alt="mifoto" class="w-24 h-24" />
			<h1 class="text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4  pb-6 lg:pb-10">Hey, soy Diego Bances
				<a href="https://www.linkedin.com/in/diegobances/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge> 
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px] text-white" ><span class="text-yellow-200/90"> Desarrollador Web Full Stack  </span> De Guatemala. Especializado en crear aplicaciones únicas y personalizadas para cada cliente</h2>
			<nav class="flex gap-x-4 mt-8 flex-wrap" >
					<Socials href="https://www.linkedin.com/in/diegobances/">
						<LinkedIn class="size-4 lg:size-6" /> <span class="text-white">LinkedIn</span> </a>
					</Socials>
					<Socials href="https://github.com/BancesDiego27">
						<Github class="size-4 lg:size-6" /> <span class="text-white">GitHub</span> </a>
					</Socials>
					<Socials href="mailto:dbances009@gmail.com">
						<Mail class="size-4 lg:size-6" /> <span class="text-white">Contactame</span>  </a>
					</Socials>
			</nav>
		</ContainerSection>
		<ContainerSection id ="experiencia">
			
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white">
				<Briefcase class="size-7" />
				Experiencia Laboral</h2>
			<Experience />
		</ContainerSection>

		<ContainerSection id ="proyectos">
			
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white">
				<Code class="size-7" />
				Proyectos</h2>
			<Projects />
		</ContainerSection>
		<ContainerSection  id ="sobre-mi">
			<Aboutme />
		</ContainerSection>
	</main>
</Layout>
