---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: "Julio 2024 - Actualmente",
    title: "Desarollador Freelance",
    description: "He trabajado en el desarrollo y despliegue de proyectos web con enfoque en soluciones prácticas, incluyendo sistemas de gestión  y automatización de procesos.",
  },

]
---


<ol class="relative border-s border-gray-200 ml-3">

    {EXPERIENCE.map((experienceItem) => (
        <li class="mb-10 ms-4" >
            <ExperienceItem {...experienceItem} />
        </li>
    ))}
</ol>

